body {
    background-color: aqua;
}

#gamezone {
    border: 1px red solid;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

h1 {
    text-align: center;
}

#container{
    background-color: white;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 500px;
    height: 500px;
    border: solid;
}

button {
    margin: 10px;
}