body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#container{
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 800px;
    height: 800px;
    border: solid;
}
